<div class="row">
    <div class="col-12 col-md-8">
        <h2>Login</h2>
        <form (ngSubmit)="onLoginSubmit()">
            <div class="alert alert-danger" role="alert" *ngIf="formError">
                {{ formError }}
            </div>
            <div class="form-group">
                <label for="email">E-mail Address</label>
                <input 
                    type="email" 
                    class="form-control" 
                    name="email" 
                    id="email" 
                    placeholder="Enter email address" 
                    [(ngModel)]="credentials.email"    
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    id="password" 
                    placeholder="e.g 12+ alphanumerics" 
                    [(ngModel)]="credentials.password"    
                />            
            </div>
            
            <button type="submit" role="button" class="btn btn-primary">Sign in!</button>
        </form>
    </div>
</div>